Combat/bin/
Combat/obj/
Prominence/Prominence.Android/bin/
Prominence/Prominence.Android/obj/
Prominence/Prominence.iOS/bin/
Prominence/Prominence.iOS/obj/
Prominence/Prominence/bin/
Prominence/Prominence/obj/
Utilities/bin/
Utilities/obj/
.vs/*
.csproj.user